---
layout: default
title: Pull Request
---

{% for page in paginator.posts %}
    <article>
        <header>
            <h1>{{ page.title }}</h1>
            <p><time pubdate="pubdate" datetime="{{ page.date }}">{{ page.date | date_to_string }}</time></p>
        </header>
        {{ page.content }}
        <footer>
            {% include categories.html %}
        </footer>
    </article>
{% endfor %}

<div class="pagination">
    {% if paginator.previous_page %}
        <a href="/page{{paginator.previous_page}}" class="previous">Previous</a>
    {% else %}
        <span class="previous">Previous</span>
    {% endif %}

    <span class="page_number ">Page: {{paginator.page}} of {{paginator.total_pages}}</span>

    {% if paginator.next_page %}
        <a href="/page{{paginator.next_page}}" class="next ">Next</a>
    {% else %}
        <span class="next ">Next</span>
    {% endif %}
</div>
