---
layout: default
title: Pull Request
---
{% for post in site.posts %}
  <article>
    <header>
      <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
      <p>
        <time datetime="{{ post.date | date:'%Y-%m-%d' }}" pubdate="pubdate">{{ post.date | date_to_string }}</time>
        <span class="author"><a href="/authors.html#{{ post.author }}">{{ site.authors[post.author].fullname }}</a></span>
        <span class="comments"><a href="{{ post.url }}#disqus_thread" title="Voir les commentaires">Commentaires</a></span>
      </p>
    </header>
    {{ post.content | truncatewords:60 }}
    <p><a href="{{ post.url }}" class="read-more" title="Lire l'article complet">Lire la suite</a></p>
    <footer>
      <section class="tags">
        {% include tags.html %}
      </section>
    </footer>
  </article>
{% endfor %}
