---
layout: default
---
{% assign post = page %}
<article>
  <header>
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <p>
      <time datetime="{{ post.date | date:'%Y-%m-%d' }}" pubdate="pubdate">{{ post.date | date_to_string }}</time>
      <span class="author"><a href="/authors.html#{{ post.author }}">{{ site.authors[post.author].fullname }}</a></span>
      <span class="comments"><a href="#disqus_thread" title="Voir les commentaires">Commentaires</a></span>
    </p>
  </header>
  {{ content }}
  <footer>
    <section class="tags">
      {% include tags.html %}
    </section>
    <section id="disqus_thread" class="comments">
      {% include comments.html %}
    </section>
  </footer>
</article>
